<?xml version='1.0' encoding='UTF-8'?>
<robot name="pybullet_reacher_robot">
  <link name="link0">
    <inertial>
      <origin xyz="0.0 0.0 0.025" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual>
      <geometry>
        <cylinder radius="0.03" length="0.05"/>
      </geometry>
      <material name="yellow"/>
      <origin xyz="0.0 0.0 0.025" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.03" length="0.05"/>
      </geometry>
      <origin xyz="0.0 0.0 0.025" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="link1">
    <inertial>
      <origin xyz="0.19977469245779556 0.0 0.0" rpy="0.0 1.5707963267948966 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
    <visual>
      <geometry>
        <cylinder radius="0.015" length="0.3995493849155911"/>
      </geometry>
      <material name="blue"/>
      <origin xyz="0.19977469245779556 0.0 0.0" rpy="0.0 1.5707963267948966 0.0"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.015" length="0.3995493849155911"/>
      </geometry>
      <origin xyz="0.19977469245779556 0.0 0.0" rpy="0.0 1.5707963267948966 0.0"/>
    </collision>
  </link>
  <link name="link2">
    <inertial>
      <origin xyz="0.11820466060197768 0.0 0.0" rpy="0.0 1.5707963267948966 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
    <visual>
      <geometry>
        <cylinder radius="0.015" length="0.23640932120395536"/>
      </geometry>
      <material name="sky"/>
      <origin xyz="0.11820466060197768 0.0 0.0" rpy="0.0 1.5707963267948966 0.0"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.015" length="0.23640932120395536"/>
      </geometry>
      <origin xyz="0.11820466060197768 0.0 0.0" rpy="0.0 1.5707963267948966 0.0"/>
    </collision>
  </link>
  <link name="link3">
    <inertial>
      <origin xyz="0.1042851991817205 0.0 0.0" rpy="0.0 1.5707963267948966 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
    <visual>
      <geometry>
        <cylinder radius="0.015" length="0.208570398363441"/>
      </geometry>
      <material name="green"/>
      <origin xyz="0.1042851991817205 0.0 0.0" rpy="0.0 1.5707963267948966 0.0"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.015" length="0.208570398363441"/>
      </geometry>
      <origin xyz="0.1042851991817205 0.0 0.0" rpy="0.0 1.5707963267948966 0.0"/>
    </collision>
  </link>
  <link name="link4">
    <inertial>
      <origin xyz="0.122115894935946 0.0 0.0" rpy="0.0 1.5707963267948966 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
    <visual>
      <geometry>
        <cylinder radius="0.015" length="0.244231789871892"/>
      </geometry>
      <material name="green"/>
      <origin xyz="0.122115894935946 0.0 0.0" rpy="0.0 1.5707963267948966 0.0"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.015" length="0.244231789871892"/>
      </geometry>
      <origin xyz="0.122115894935946 0.0 0.0" rpy="0.0 1.5707963267948966 0.0"/>
    </collision>
  </link>
  <link name="link5">
    <inertial>
      <origin xyz="0.14949202787576962 0.0 0.0" rpy="0.0 1.5707963267948966 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
    <visual>
      <geometry>
        <cylinder radius="0.015" length="0.29898405575153925"/>
      </geometry>
      <material name="green"/>
      <origin xyz="0.14949202787576962 0.0 0.0" rpy="0.0 1.5707963267948966 0.0"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.015" length="0.29898405575153925"/>
      </geometry>
      <origin xyz="0.14949202787576962 0.0 0.0" rpy="0.0 1.5707963267948966 0.0"/>
    </collision>
  </link>
  <link name="link6">
    <inertial>
      <origin xyz="0.12322333167200522 0.0 0.0" rpy="0.0 1.5707963267948966 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
    <visual>
      <geometry>
        <cylinder radius="0.015" length="0.24644666334401044"/>
      </geometry>
      <material name="green"/>
      <origin xyz="0.12322333167200522 0.0 0.0" rpy="0.0 1.5707963267948966 0.0"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.015" length="0.24644666334401044"/>
      </geometry>
      <origin xyz="0.12322333167200522 0.0 0.0" rpy="0.0 1.5707963267948966 0.0"/>
    </collision>
  </link>
  <link name="link7">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
      <material name="red"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <joint name="joint1" type="revolute">
    <limit effort="600.0" velocity="396.86" lower="3.14"/>
    <parent link="link0"/>
    <child link="link1"/>
    <axis xyz="0. 0. 1."/>
    <origin xyz="0.0 0.0 0.025" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="joint2" type="revolute">
    <limit effort="300.0" velocity="200.0" lower="-2.96705" upper="2.96705"/>
    <parent link="link1"/>
    <child link="link2"/>
    <axis xyz="0. 0. 1."/>
    <origin xyz="0.3995493849155911 0.0 0.0" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="joint3" type="revolute">
    <limit effort="300.0" velocity="200.0" lower="-2.96705" upper="2.96705"/>
    <parent link="link2"/>
    <child link="link3"/>
    <axis xyz="0. 0. 1."/>
    <origin xyz="0.23640932120395536 0.0 0.0" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="joint4" type="revolute">
    <limit effort="300.0" velocity="200.0" lower="-2.96705" upper="2.96705"/>
    <parent link="link3"/>
    <child link="link4"/>
    <axis xyz="0. 0. 1."/>
    <origin xyz="0.208570398363441 0.0 0.0" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="joint5" type="revolute">
    <limit effort="300.0" velocity="200.0" lower="-2.96705" upper="2.96705"/>
    <parent link="link4"/>
    <child link="link5"/>
    <axis xyz="0. 0. 1."/>
    <origin xyz="0.244231789871892 0.0 0.0" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="joint6" type="revolute">
    <limit effort="300.0" velocity="200.0" lower="-2.96705" upper="2.96705"/>
    <parent link="link5"/>
    <child link="link6"/>
    <axis xyz="0. 0. 1."/>
    <origin xyz="0.29898405575153925 0.0 0.0" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="joint7" type="revolute">
    <limit effort="300.0" velocity="200.0" lower="-2.96705" upper="2.96705"/>
    <parent link="link6"/>
    <child link="link7"/>
    <axis xyz="0. 0. 1."/>
    <origin xyz="0.24644666334401044 0.0 0.0" rpy="0.0 -0.0 0.0"/>
  </joint>
  <material name="yellow">
    <color rgba="0.8 0.8 0.  1. "/>
  </material>
  <material name="blue">
    <color rgba="0.  0.  0.8 1. "/>
  </material>
  <material name="sky">
    <color rgba="0.  0.8 0.8 1. "/>
  </material>
  <material name="green">
    <color rgba="0.  0.8 0.  1. "/>
  </material>
  <material name="red">
    <color rgba="0.8 0.  0.  1. "/>
  </material>
</robot>
