<?xml version='1.0' encoding='UTF-8'?>
<robot name="pybullet_reacher_robot">
  <link name="link0">
    <inertial>
      <origin xyz="0.0 0.0 0.025" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual>
      <geometry>
        <cylinder radius="0.03" length="0.05"/>
      </geometry>
      <material name="yellow"/>
      <origin xyz="0.0 0.0 0.025" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.03" length="0.05"/>
      </geometry>
      <origin xyz="0.0 0.0 0.025" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <link name="link1">
    <inertial>
      <origin xyz="0.1364981237650701 0.0 0.0" rpy="0.0 1.5707963267948966 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
    <visual>
      <geometry>
        <cylinder radius="0.015" length="0.2729962475301402"/>
      </geometry>
      <material name="blue"/>
      <origin xyz="0.1364981237650701 0.0 0.0" rpy="0.0 1.5707963267948966 0.0"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.015" length="0.2729962475301402"/>
      </geometry>
      <origin xyz="0.1364981237650701 0.0 0.0" rpy="0.0 1.5707963267948966 0.0"/>
    </collision>
  </link>
  <link name="link2">
    <inertial>
      <origin xyz="0.18474761180028076 0.0 0.0" rpy="0.0 1.5707963267948966 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
    <visual>
      <geometry>
        <cylinder radius="0.015" length="0.36949522360056153"/>
      </geometry>
      <material name="sky"/>
      <origin xyz="0.18474761180028076 0.0 0.0" rpy="0.0 1.5707963267948966 0.0"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.015" length="0.36949522360056153"/>
      </geometry>
      <origin xyz="0.18474761180028076 0.0 0.0" rpy="0.0 1.5707963267948966 0.0"/>
    </collision>
  </link>
  <link name="link3">
    <inertial>
      <origin xyz="0.1343621253682824 0.0 0.0" rpy="0.0 1.5707963267948966 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
    <visual>
      <geometry>
        <cylinder radius="0.015" length="0.2687242507365648"/>
      </geometry>
      <material name="green"/>
      <origin xyz="0.1343621253682824 0.0 0.0" rpy="0.0 1.5707963267948966 0.0"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.015" length="0.2687242507365648"/>
      </geometry>
      <origin xyz="0.1343621253682824 0.0 0.0" rpy="0.0 1.5707963267948966 0.0"/>
    </collision>
  </link>
  <link name="link4">
    <inertial>
      <origin xyz="0.06105888255742453 0.0 0.0" rpy="0.0 1.5707963267948966 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
    <visual>
      <geometry>
        <cylinder radius="0.015" length="0.12211776511484906"/>
      </geometry>
      <material name="green"/>
      <origin xyz="0.06105888255742453 0.0 0.0" rpy="0.0 1.5707963267948966 0.0"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.015" length="0.12211776511484906"/>
      </geometry>
      <origin xyz="0.06105888255742453 0.0 0.0" rpy="0.0 1.5707963267948966 0.0"/>
    </collision>
  </link>
  <link name="link5">
    <inertial>
      <origin xyz="0.15600294382179905 0.0 0.0" rpy="0.0 1.5707963267948966 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
    <visual>
      <geometry>
        <cylinder radius="0.015" length="0.3120058876435981"/>
      </geometry>
      <material name="green"/>
      <origin xyz="0.15600294382179905 0.0 0.0" rpy="0.0 1.5707963267948966 0.0"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.015" length="0.3120058876435981"/>
      </geometry>
      <origin xyz="0.15600294382179905 0.0 0.0" rpy="0.0 1.5707963267948966 0.0"/>
    </collision>
  </link>
  <link name="link6">
    <inertial>
      <origin xyz="0.08993505903406615 0.0 0.0" rpy="0.0 1.5707963267948966 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
    <visual>
      <geometry>
        <cylinder radius="0.015" length="0.1798701180681323"/>
      </geometry>
      <material name="green"/>
      <origin xyz="0.08993505903406615 0.0 0.0" rpy="0.0 1.5707963267948966 0.0"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.015" length="0.1798701180681323"/>
      </geometry>
      <origin xyz="0.08993505903406615 0.0 0.0" rpy="0.0 1.5707963267948966 0.0"/>
    </collision>
  </link>
  <link name="link7">
    <inertial>
      <origin xyz="0.18058603096116865 0.0 0.0" rpy="0.0 1.5707963267948966 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
    <visual>
      <geometry>
        <cylinder radius="0.015" length="0.3611720619223373"/>
      </geometry>
      <material name="green"/>
      <origin xyz="0.18058603096116865 0.0 0.0" rpy="0.0 1.5707963267948966 0.0"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.015" length="0.3611720619223373"/>
      </geometry>
      <origin xyz="0.18058603096116865 0.0 0.0" rpy="0.0 1.5707963267948966 0.0"/>
    </collision>
  </link>
  <link name="link8">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
      <material name="red"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </collision>
  </link>
  <joint name="joint1" type="revolute">
    <limit effort="600.0" velocity="396.86" lower="3.14"/>
    <parent link="link0"/>
    <child link="link1"/>
    <axis xyz="0. 0. 1."/>
    <origin xyz="0.0 0.0 0.025" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="joint2" type="revolute">
    <limit effort="300.0" velocity="200.0" lower="-2.96705" upper="2.96705"/>
    <parent link="link1"/>
    <child link="link2"/>
    <axis xyz="0. 0. 1."/>
    <origin xyz="0.2729962475301402 0.0 0.0" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="joint3" type="revolute">
    <limit effort="300.0" velocity="200.0" lower="-2.96705" upper="2.96705"/>
    <parent link="link2"/>
    <child link="link3"/>
    <axis xyz="0. 0. 1."/>
    <origin xyz="0.36949522360056153 0.0 0.0" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="joint4" type="revolute">
    <limit effort="300.0" velocity="200.0" lower="-2.96705" upper="2.96705"/>
    <parent link="link3"/>
    <child link="link4"/>
    <axis xyz="0. 0. 1."/>
    <origin xyz="0.2687242507365648 0.0 0.0" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="joint5" type="revolute">
    <limit effort="300.0" velocity="200.0" lower="-2.96705" upper="2.96705"/>
    <parent link="link4"/>
    <child link="link5"/>
    <axis xyz="0. 0. 1."/>
    <origin xyz="0.12211776511484906 0.0 0.0" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="joint6" type="revolute">
    <limit effort="300.0" velocity="200.0" lower="-2.96705" upper="2.96705"/>
    <parent link="link5"/>
    <child link="link6"/>
    <axis xyz="0. 0. 1."/>
    <origin xyz="0.3120058876435981 0.0 0.0" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="joint7" type="revolute">
    <limit effort="300.0" velocity="200.0" lower="-2.96705" upper="2.96705"/>
    <parent link="link6"/>
    <child link="link7"/>
    <axis xyz="0. 0. 1."/>
    <origin xyz="0.1798701180681323 0.0 0.0" rpy="0.0 -0.0 0.0"/>
  </joint>
  <joint name="joint8" type="revolute">
    <limit effort="300.0" velocity="200.0" lower="-2.96705" upper="2.96705"/>
    <parent link="link7"/>
    <child link="link8"/>
    <axis xyz="0. 0. 1."/>
    <origin xyz="0.3611720619223373 0.0 0.0" rpy="0.0 -0.0 0.0"/>
  </joint>
  <material name="yellow">
    <color rgba="0.8 0.8 0.  1. "/>
  </material>
  <material name="blue">
    <color rgba="0.  0.  0.8 1. "/>
  </material>
  <material name="sky">
    <color rgba="0.  0.8 0.8 1. "/>
  </material>
  <material name="green">
    <color rgba="0.  0.8 0.  1. "/>
  </material>
  <material name="red">
    <color rgba="0.8 0.  0.  1. "/>
  </material>
</robot>
